<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated erdiagram -->
      <package
            uri="http://mit.bme.hu/mdsd/erdiagram"
            class="hu.bme.mit.mdsd.erdiagram.ErdiagramPackage"
            genModel="model/erdiagram.genmodel"/>
   </extension>

</plugin>
