/.AllAncestorProcessor.java._trace
/.AllAncestorQuerySpecification.java._trace
/.AncestorProcessor.java._trace
/.AncestorQuerySpecification.java._trace
/.BadEntityProcessor.java._trace
/.BadEntityQuerySpecification.java._trace
/.EntitiesProcessor.java._trace
/.EntitiesQuerySpecification.java._trace
/.EntitiesWithCommonNameProcessor.java._trace
/.EntitiesWithCommonNameQuerySpecification.java._trace
/.EntityCompareProcessor.java._trace
/.EntityCompareQuerySpecification.java._trace
/.EntityNamesProcessor.java._trace
/.EntityNamesQuerySpecification.java._trace
/.EntityNumberOfAttributesProcessor.java._trace
/.EntityNumberOfAttributesQuerySpecification.java._trace
/.EntityWithAttributeProcessor.java._trace
/.EntityWithAttributeQuerySpecification.java._trace
/.EntityWithEmptyNameProcessor.java._trace
/.EntityWithEmptyNameQuerySpecification.java._trace
/.FirstEntityProcessor.java._trace
/.FirstEntityQuerySpecification.java._trace
/.OtherEndingProcessor.java._trace
/.OtherEndingQuerySpecification.java._trace
/.RelationWithLeftEndingProcessor.java._trace
/.RelationWithLeftEndingQuerySpecification.java._trace
/.RelationWithRightEndingProcessor.java._trace
/.RelationWithRightEndingQuerySpecification.java._trace
/.RelationWithoutEndingProcessor.java._trace
/.RelationWithoutEndingQuerySpecification.java._trace
/.WellFormedEntitesProcessor.java._trace
/.WellFormedEntitesQuerySpecification.java._trace
/AllAncestorProcessor.java
/AllAncestorQuerySpecification.java
/AncestorProcessor.java
/AncestorQuerySpecification.java
/BadEntityProcessor.java
/BadEntityQuerySpecification.java
/EntitiesProcessor.java
/EntitiesQuerySpecification.java
/EntitiesWithCommonNameProcessor.java
/EntitiesWithCommonNameQuerySpecification.java
/EntityCompareProcessor.java
/EntityCompareQuerySpecification.java
/EntityNamesProcessor.java
/EntityNamesQuerySpecification.java
/EntityNumberOfAttributesProcessor.java
/EntityNumberOfAttributesQuerySpecification.java
/EntityWithAttributeProcessor.java
/EntityWithAttributeQuerySpecification.java
/EntityWithEmptyNameProcessor.java
/EntityWithEmptyNameQuerySpecification.java
/FirstEntityProcessor.java
/FirstEntityQuerySpecification.java
/OtherEndingProcessor.java
/OtherEndingQuerySpecification.java
/RelationWithLeftEndingProcessor.java
/RelationWithLeftEndingQuerySpecification.java
/RelationWithRightEndingProcessor.java
/RelationWithRightEndingQuerySpecification.java
/RelationWithoutEndingProcessor.java
/RelationWithoutEndingQuerySpecification.java
/WellFormedEntitesProcessor.java
/WellFormedEntitesQuerySpecification.java
