<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.mdsd.erdiagram.design.Activator"
               id="hu.bme.mit.mdsd.erdiagram.design"
	       name="erdiagram">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.mdsd.erdiagram.design.CreateRelationOperation"
           id="hu.bme.mit.mdsd.erdiagram.design.CreateRelationOperation">
     </javaActions>
  </extension>
</plugin>
