<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="extension.derived.hu.bme.mit.mdsd.m2m2c.queries.otherEnding" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="RelationEnding" feature-name="otherEnding" package-nsUri="http://mit.bme.hu/mdsd/erdiagram"/>
  </extension>
  <extension id="hu.bme.mit.mdsd.m2m2c.queries.Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.m2m2c.queries.Queries" id="hu.bme.mit.mdsd.m2m2c.queries.Queries">
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.sameNamedEntities"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.otherEnding"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.entityAttribute"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.superEntity"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.allSuperEntity"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relationWithLeftEnding"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relationWithRightEnding"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.multiplicity"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relationTarget"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relationLeftWithMany"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relationRightWithMany"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relation"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.mdsd.m2m2c.queries.TraceQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.m2m2c.queries.TraceQueries" id="hu.bme.mit.mdsd.m2m2c.queries.TraceQueries">
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.treaceOfRootElement"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.treaceOfElement"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.entity_UD"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.entity_C_FirstCase_WithoutParent"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.entity_C_FirstCase_WithParent"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.entity_C_SecondCase"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.attribute_UD"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.attribute_C_FirstCase"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.attribute_C_SecondCase"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relation_C"/>
      <query-specification fqn="hu.bme.mit.mdsd.m2m2c.queries.relation_UD"/>
    </group>
  </extension>
</plugin>
