<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<extension point="org.eclipse.ui.commands">
    <command
        defaultHandler="hu.bme.mit.mdsd.m2m2c.ui.TransformHandlerPrepare"
        id="hu.bme.mit.mdsd.m2m2c.ui.prepareCommand"
        name="Prepare to EDT">
    </command>
    <command
        defaultHandler="hu.bme.mit.mdsd.m2m2c.ui.TransformHandler"
        id="hu.bme.mit.mdsd.m2m2c.ui.command"
        name="Start EDT">
    </command>
    <command
          defaultHandler="hu.bme.mit.mdsd.m2m2c.ui.TransformHandlerFinish"
          id="hu.bme.mit.mdsd.m2m2c.ui.finishCommand"
          name="Finish EDT">
    </command>
</extension>
<extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command commandId="hu.bme.mit.mdsd.m2m2c.ui.command"
                style="push">
            <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <count value="1">
                    </count>
                    <iterate>
                        <adapt type="hu.bme.mit.mdsd.erdiagram.EntityRelationDiagram">
                        </adapt>
                    </iterate>
                </with>
            </visibleWhen>
        </command>
        <command commandId="hu.bme.mit.mdsd.m2m2c.ui.prepareCommand"
                style="push">
            <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <count value="1">
                    </count>
                    <iterate>
                        <adapt type="hu.bme.mit.mdsd.erdiagram.EntityRelationDiagram">
                        </adapt>
                    </iterate>
                </with>
            </visibleWhen>
        </command>
        <command
              commandId="hu.bme.mit.mdsd.m2m2c.ui.finishCommand"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <count
                       value="1">
                 </count>
                 <iterate>
                    <adapt
                          type="hu.bme.mit.mdsd.erdiagram.EntityRelationDiagram">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
        </command>
    </menuContribution>
</extension>
</plugin>
