<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="extension.derived.hu.bme.mit.mdsd.erdiagram.queries.otherEnding" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="RelationEnding" feature-name="otherEnding" package-nsUri="hu.bme.mit.mdsd.erdiagram"/>
  </extension>
  <extension id="hu.bme.mit.mdsd.erdiagram.queries.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.erdiagram.queries.Queries" id="hu.bme.mit.mdsd.erdiagram.queries.Queries"/>
  </extension>
</plugin>
